/* Main */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.reload-button {
    margin-bottom: 12px;
    background-color: #2196F3;
}

.add-button {
    margin-top: 12px;
    background-color: #2196F3;
}

.add-button:hover {
    background-color: #0b7dda;
}

.notes {
    width: 600px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-collapse: collapse;
}

.notes td,
.notes th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.notes tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

.delete-button {
    background-color: red;
    padding: 6px 10px;
    margin-right: 6px;
}

.edit-button {
    background-color:brown;
    padding: 6px 10px;
}
